@import url("https://fonts.googleapis.com/css?family=Merriweather:700,900|Open+Sans:400,600,700");


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25vh;
}

h1 {
	font-family: 'Merriweather', serif;
	font-weight: bold;
	color: #4C4C4C !important;
}

.main-header .logo {
	font-family: 'Merriweather', serif;
	background-color: #28C3A9 !important;
	color: #4C4C4C !important;
	font-size: 300%;
	font-weight: 900 !important;
}

#Box headers
h2,h3,h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 150% !important;
	font-weight: 600!important;
}

a {

  font-family: 'Open Sans', sans-serif;
	font-size: 140% !important;
	font-weight: 500 !important;

}

.nav-tabs>li>a {
	font-size: 150% !important;
	font-weight: bold !important;
}

.action-button {
	font-size: 150% !important;
	background-color: #FFFFFF !important;
	color: #28C3A9 !important;
	border-color: #28C3A9 !important ;
	border-width: 2px !important;
}

.action-button:hover {
	font-size: 150% !important;
	background-color: #28C3A9 !important;
	color: #FFFFFF !important;
}


.radio-inline{
	font-size: 140% !important;

}

.checkbox {
	font-size: 140% !important;

}



.nav-tabs-custom .nav-tabs li.active{
	border-top-color: #28C3A9 !important;
}

.box.box-primary {
	border-top-color: #28C3A9 !important;
}

.box-solid.box-primary {
	border-color: rgba(0,0,0,.2)!important;

	box-shadow: 0 2px 2px rgba(0,0,0,.1) !important;
}

.box.box-solid.box-primary>.box-header{
	background: #28C3A9 !important;
	background-color: #28C3A9 !important;
	border-radius: 2px !important;
}

.navbar-static-top {
	background-color: #28C3A9 !important;
}

.main-sidebar {
	background-color: #4C4C4C !important;

}

a.sidebar-toggle:hover {
	background-color: #4C4C4C !important;
}


.btn {
	font-size: 140% !important;
}

label {
	font-size: 140% !important;
}

.form-control {
	font-size: 140% !important;

}

.sidebar {
	height: 90vh; 
	overflow-y: auto;
}
                      

.content-wrapper {
	height: 90vh; 
	overflow-y: auto;
	background-color: #ECECEC !important;
}


.main-header .navbar-custom-menu, .main-header .navbar-right {

	float: none;
}


#navbar-nav {
	position: fixed;
	top: 50%;
	left: 50%;
}


         
                      
.shiny-input-container{
                      
                      
	padding-top: 5px;
                      
	padding-right: 5px;
                      
	padding-bottom: 5px;
                      
	padding-left: 5px;
                      
	margin-top: 1px;
                      
	margin-bottom: 1px;
                      
	margin-right: 5px;
                      
	margin-left: 5px
}
                      
		      
.modal-lg {
			
	width: 90%;
			
		      
}

                      
.modal-sm {
			
	width: 900px;
			
		      
}

#For sidebar hovering and selection coloring

.skin-blue .sidebar-menu>li:active>a, .skin-blue .sidebar-menu>li:hover>a {
  background: #3C3C3C !important;
  background-color: #3C3C3C !important;
	border-left-color: #28C3A9 !important;
}

.checkbox label {
  font-size: 100% !important;
}

.yearlysumtable {
  font-size: 140% !important;
  font-weight: bold !important;
}

.monthlysumtable {
  font-size: 125% !important;
  font-weight: bold !important;
}

.dropdown {
  position: "right";
}
